# Exercise 00
Write a bit of code that prints _Introduction to Programming_ to the console and execute the cell

In [23]:
print('Introduction to Programming')

Introduction to Programming

-----------------------------------------------------------------------------
# Exercise 01
Hello World is traditionally the first program anyone writes. It is
very simple and the only thing it should do is print Hello World! to the
terminal window.
Create a file called HelloWorld.py and edit the contents so it prints Hello World! to the terminal and execute it using the command line.

In [1]:
print('Hello World')

Hello World

-----------------------------------------------------------------------------
# Exercise 02
Write some code to print your name, email, and age on separate lines. For each element first assign it to a variable and use the variable to print. 

Bonus: try to create the print statement for all variable in one line of code. (hint: '\n' is the character for a new line)

In [3]:
for my in ['Xiao Wang', 'ucbvx66@ucl.ac.uk', 24]:
    print(my)

Xiao Wang
ucbvx66@ucl.ac.uk
24

In [24]:
name = "Xiao wang"
email = "ucbvx66@ucl.ac.uk"
age = 24
print(name + '\n' + email + '\n' + str(age))

Xiao wang
ucbvx66@ucl.ac.uk
24

In [35]:
first_name='xiao'
last_name='wang'
print(first_name+' '+last_name)

xiao wang

-----------------------------------------------------------------------------
# Exercise 03
Print the numbers 0, 178, -21, 2938 divided by 49, 436 multiplied with 9948 and 12 to the power of 20

(Hint: Look up the documentation of basic arithmetic operators)

In [4]:
print(0)

0

In [5]:
print(178)

178

In [6]:
print(-21)

-21

In [7]:
print(2938/49)

59.95918367346939

In [8]:
print(436*9948)

4337328

In [9]:
print(12**20)

3833759992447475122176

-----------------------------------------------------------------------------
# Exercise 04
Print sin(200), cos(100), tan($\pi$/4)

(Hint: Look up for how to use trigonometric function, and how to get the value of $\pi$.)

In [10]:
import math
math.pi

3.141592653589793

In [46]:
sin(200)

-0.8732972972139945

In [47]:
cos(100)

0.8623188722876839

In [45]:
math.tan(math.pi / 4)

0.9999999999999999

-----------------------------------------------------------------------------
# Exercise 05
Write a program to read your first and last names from the console seperately, and then print them on the console together, separated by a space.

In [22]:
first_name='Xiao'
last_name='Wang'
myname=first_name+' '+last_name

print(myname)

Xiao Wang

-----------------------------------------------------------------------------
# Exercise 06
Write a program that determines whether a number given as user input is positive or negative
 
You will need to convert the console input from a string to a number first!

In [40]:
number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  7

The number is positive.

-----------------------------------------------------------------------------
# Exercise 07
Write a program that picks a random number between 1-20 and makes the user guess until they get the number right. Then print a congratulations message
- (Find out yourself how to generate a random integer)
- Bonus: make the user choose the range within which they have to guess
- Bonus: keep track of how many guesses were made and print this at the end

In [41]:
import random

random_number = random.randint(1, 20)

user_guess = []

while user_guess != random_number:
    user_guess = int(input("Guess a number between 1 and 20: "))
    
    if user_guess < random_number:
        print("Too low")
    elif user_guess > random_number:
        print("Too high")

print(f"Congratulations! You guessed the correct number: {random_number}!")

Guess a number between 1 and 20:  1

Too low

Guess a number between 1 and 20:  2

Too low

Guess a number between 1 and 20:  3

Too low

Guess a number between 1 and 20:  4

Congratulations! You guessed the correct number: 4!

-----------------------------------------------------------------------------
# Exercise 08
Ask a sentence as input, then print the words in alphabetical order.
Hint: look up how to split up a string

In [51]:
sentence = input("Enter a sentence: ")

words = sentence.split()

words_sorted = sorted(words)
###sorted() 函数根据字母顺序对 words 列表进行排序，并返回一个新列表

for word in words_sorted:
    print(word)

Enter a sentence:  my name is XX,I am from China.

China.
XX,I
am
from
is
my
name

In [ ]:
##answer

sentence = input()
words = sentence.split(' ')
words.sort(key = lambda x : x.lower())
##words.sort(key=lambda x: x.lower()) 是用来对列表 words 中的字符串进行不区分大小写的排序
##lambda x: x.lower() 是一个匿名函数（lambda 表达式），它将 x 作为输入，并返回 x.lower()，也就是将字符串 x 转换为小写
print(words)

sentence = input()
words = sentence.split(' ')#将一个字符串按照指定的分隔符 ' '（即单个空格）进行拆分，并返回一个列表
words.sort()
##使用 words.sort() 当你希望直接修改原列表时（例如内存效率更高的场景）。
##使用 sorted(words) 当你希望保留原列表不变并需要一个新的排序后的副本时
print(words)

-----------------------------------------------------------------------------
# Exercise 09
Write a program using for loops to print a christmas tree of x lines high
specified by the user.
(use for loops)
so for instance, a chrismas tree of 4 high should looks like this:

```

    *
   ***
  *****
 *******
    |

```

hint: first combine strings into a variable before printing

In [32]:
height = int(input("Enter the height of the Christmas tree: "))

for i in range(1, height + 1):
    stars = '*' * (2 * i - 1)
    spaces = ' ' * (height - i)
    print(spaces + stars)

trunk = ' ' * (height - 1) + '|'
print(trunk)

Enter the height of the Christmas tree:  5

    *
   ***
  *****
 *******
*********
    |

-----------------------------------------------------------------------------
# Exercise 10
Write a piece of code that prints the first $n$ numbers of the padovan sequence

In [52]:
def padovan_sequence(n):
    if n == 0 or n == 1 or n == 2:
        return 1
    else:
        return padovan_sequence(n - 2) + padovan_sequence(n - 3)

for i in range(40):
    print(padovan_sequence(i))

1
1
1
2
2
3
4
5
7
9
12
16
21
28
37
49
65
86
114
151
200
265
351
465
616
816
1081
1432
1897
2513
3329
4410
5842
7739
10252
13581
17991
23833
31572
41824